{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!-- Header Section -->
    <header class="row">
        <div class="col-12 col-md-12" id="header-text">
            <h1 class="display-1 text-center">Your personal library, exactly the way you want it!</h1>
            <br>
            <h5 class="text-center fs-4">Carefully curated Stacks, by you, for you.</h5>
        </div>
        <!-- Header Image -->
        <div class="col-12 col-mg-6">
            <img src="../../static/images/header_image.png" alt="C.S. Lewis Quote" class="header-img">
        </div>
    </header>
    <!-- End of Header Section -->
    <!-- Middle Section -->
    <section class="row">
        <div class="col-12" id="middle-text">
            <h1 class="display-2">Display Your Bookshelves Here!</h1>
            <br>
            <h5 class="display-6">Organize your books into as many shelves as you please! By genre, author, rating, or whatever you want!</h5>
        </div>
    </section>
    <!-- End of Middle Section -->
    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4" id="rate-and-review">
            <img src="../../static/images/rate-and-review.png" class="mx-auto d-block" alt="" id="rate-and-review-image">
            <h4 class="fs-2 text-center display-2"><strong>Rate & Review</strong></h4>
            <p class="fs-4 lh-lg display-5">Keep track of books you've read, including what you liked about them! (or didn't...we won't tell!)</p>
        </div>
        <div class="col-12 col-md-4" id="stats">
            <img src="../../static/images/stats.png" class="mx-auto d-block" alt="Pie Graph" id="stats-image">
            <h4 class="fs-2 text-center display-2"><strong>Reading Stats</strong></h4>
            <p class="fs-4 lh-lg display-5">See a visual representation of the types of books you've read!</p>
        </div>
        <div class="col-12 col-md-4" id="wishlist">
            <img src="../../static/images/wishlist.png" class="mx-auto d-block" alt="" id="wishlist-image">
            <h4 class="fs-2 text-center display-2"><strong>Wishlist</strong></h4>
            <p class="fs-4 lh-lg display-5">Don't have a book yet? You can even organize those!</p>
        </div>
    </section>
    <!-- End Collection of Features -->
    <!-- Start of Community Section -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../../static/images/community.png" alt="" id="community-image">
        </div>
        <div class="col-12 col-md-6">
            <h4 class="display-5">Talk with like-minded Readers!</h4>
            <p class="fs-4">
                Talk with other Readers around the world! Join groups based
                on what you like, recommended just for you! Join our Slack, or find
                a discussion board right here! There's something for everyone.
            </p>
            <div>
                <button class="btn btn-success" id="discussion">Discussion Boards</button>
                <button class="btn btn-success" id="slack">Join Our Slack</button>
            </div>
        </div>
    </section>
    <!-- End of Community Section -->
    <!-- Start of Footer Section -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../../static/images/stack_logo.png" alt="" id="footer-logo">
        </div>
        <div class="col-2 col-md-4">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Bookstack?</p>
                <p>The Bookstack Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-4">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Bookstack?</p>
                <p>The Bookstack Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-4">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Bookstack?</p>
                <p>The Bookstack Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-4">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Bookstack?</p>
                <p>The Bookstack Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
        <div class="col-2 col-md-4">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Bookstack?</p>
                <p>The Bookstack Project</p>
                <p>Donate</p>
                <p>Spread the Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>
</div>



{% endblock content %}